/* Fonts and colors */

header a {
	color: rgba(0, 0, 0, 0.8);
}
aside p {
	border: 1px solid #bbb;
	background: #ddd;
	color: black;
}
footer a {
	color: rgba(0, 0, 0, 0.8);
}
/* Positioning and margins */

article {
	padding: 50px 15px;
}
article > *:first-child {
	margin-top: 0;
}
aside {
	padding: 50px 15px;
}
header .right {
	float: right;
	margin: 0 10px 15px;
}


/* Header */
header {
	padding: 20px 0;
	height: 80px;
}
header ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
header li {
	display: inline;
	vertical-align:middle;
}
header li:first-child {
	margin: 0;
}
header li a {
	margin: 0 10px;
}
header li.logo {
	font-size: 36px;
}
header a {
	text-decoration: none;
}


/* Aside */

aside p {
	border-radius: 10px;
	padding: 20px 20px;
}


/* Footer */

footer {
	padding: 5px 15px;
	height: 80px;
}

@media (max-width: 800px) {
  body.works_on_smartphone {
  	display: block;
  }
  body.works_on_smartphone main {
  	display: block;
  }
  header .right {
  	float: none;
  }
}

/* image JS challenge */

img {
	max-width: 100%;
}

img.small {
	width: 100px;
}